.footer{
    background-color: #1a171b;
    padding: 30px 5%;
    color: white;
    font-weight: 500;
    font-size: 14px;
    position: relative;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flexCenter{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.flexColumn{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 5px;
}

/* .ayto img{max-width: 280px} */
.ayto img{max-width: 180px}

.contacto{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px
}

.contacto i{font-size: 18px;}

.contacto p, .contacto a{
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer .redes{
    padding-left: 3px;
    display:flex;
    gap: 10px;
    align-items: center;
}

.footer .redes img{height: 16px;}

.footer .redes img:hover{transform: scale(1.15);}

.footer .enlaces{
    display:flex;
    padding: 0 1rem;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.footer .enlaces a{
    color: white;
    padding: 6px 16px 8px 16px;
}

.footer .enlaces a:hover{
    color: #1a171b;
    background-color: white;
    border-radius: 16px;
}

.logo{
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.5;
}


@media (max-width: 1024px) {
    .flexCenter{gap: 40px;}
    .contacto{width: 280px;}
}

@media (max-width: 820px) {
    .ayto img{max-width: 150px}
    .flexCenter{gap: 30px;}
    .contacto{width: 253px;}
}

@media (max-width: 768px) { 
    .footer{padding: 30px 5%;}

    .flex{
        flex-wrap:wrap;
        justify-content: flex-start;
    }

    .ayto img{
        max-width: 200px;
        margin-left:0px;
    }

    .footer .enlaces{
        flex-wrap: wrap;
        padding: 0px;
        gap: 5px;
        justify-content: flex-start;
        align-items: center;
        margin: 30px 15px 10px 0px;
    }

    .footer .enlaces a{padding: 0px; margin-right: 15px;}
}